<div class="logo"><img src="https://upload.wikimedia.org/wikipedia/ru/d/d1/Nrs_logo.png"></div>
<div class="title"><h1>Netherrealm news</h1><p>Show no mercy</p></div>
<nav class="menu">
    <ul>
        <li><a href="#">Главная</a></li>
        <li><a href="#">О нас</a></li>
        <li><a href="#">Контакты</a></li>
    </ul>
</nav>